*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    max-width: 1000px;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 119px;
    font-size: larger;
}

.buttons{
    display: flex;
}

#play_button{
    height: fit-content;
    width: 121px;
}

.grid  {  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.easy{
    grid-template-columns: repeat(10, 1fr);
}

.medium{
    grid-template-columns: repeat(9, 1fr);
}

.hard{
    grid-template-columns: repeat(7, 1fr);
}

.cella{
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid black;
}

main{
    min-height: 100vh;
    display: flex; 
    background-color: rgba(0,202,177, 1);   
}

/*.header_container{
    max-width: 1000px;

}*/

.cella.clicked    {
    background-color:  rgba(0,202,177, 1);
}

footer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: larger;
    height: 78px;
    margin-left: 26px;
}


.cella.danger{
    background-color: tomato;
    color: white;
}

.cella.success{
    background-color: blue;
    color: white;
}